/*********************************************
 * SLIDE APPEARANCE
 *********************************************/
.line {
    background: #12bcbc;
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
    color: #12bcbc;
}

/*********************************************
* PROGRESS BAR
*********************************************/
.reveal .progress {
    color: #12bcbc;
}
